APP_NAME="October CMS"
APP_ENV=local
APP_KEY=base64:EJ1ivCs11lIxLNk19ipi+SrmZbVW2ZjQlp3U4R4Yb7w=
APP_DEBUG=true
APP_URL=http://localhost
APP_LOCALE=en

ACTIVE_THEME=demo
BACKEND_URI=/admin
CMS_ROUTE_CACHE=false
CMS_ASSET_CACHE=false
LINK_POLICY=detect
DEFAULT_FILE_MASK=775
DEFAULT_FOLDER_MASK=775

DB_CONNECTION=mysql
DB_HOST=db-mysql-ams3-94146-do-user-7105637-0.db.ondigitalocean.com
DB_PORT=25060
DB_DATABASE=bmt_gijs
DB_USERNAME=bmt_gijs
DB_PASSWORD=AVNS_qKozXRIdT-y7EpA4Vjy

LOG_CHANNEL=single
BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

### MAILHOG
MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
