##
description = "Default layout"

[session]
security = "all"

==
<!DOCTYPE html>
<html>
    <head>
        <link href="{{ 'assets/css/bootstrap.min.css' | theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/style.css' | theme }}" rel="stylesheet">
    </head>
    <body class="{{ 'page-'~this.page.id }}">

        <!-- Header -->
        <header id="layout-header">
            {% partial 'navbar' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'footer' %}
        </footer>

    </body>
</html>
