<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>About</h4>
                <p>Welcome to F1Fanatics, a Formula 1 fan website!</p>
                <p>Explore the world of Formula 1 racing with us. Get the latest news, race results, driver profiles, and more. Join our community of passionate fans and experience the thrill of Formula 1 together.</p>
                <p>Please note that this website is a fan page and not the official Formula 1 website.</p>
            </div>
            <div class="col-md-3">
                <h4>Links</h4>
                <ul class="list-unstyled">
                    <li><a class="footerlink" href="{{ 'homepage' }}">Home</a></li>
                    <li><a class="footerlink" href="#">News</a></li>
                    <li><a class="footerlink" href="{{ 'drivers' }}">Drivers</a></li>
                    <li><a class="footerlink" href="{{ 'teams' }}">Teams</a></li>
                    <li><a class="footerlink" href="#">Results</a></li>
                </ul>
            </div>
           <div class="col-md-3">
            <h4>Contact</h4>
            <ul class="list-unstyled">
                <li><a href="mailto:temp@gmail.com" class="footerlink">Email</a></li>
                <li><a target="_blank" href="{{ 'https://www.youtube.com/F1' }}"><img class="footerimg" src="{{ 'assets/images/footer/youtube.png' | theme }}" alt="YouTube"></a></li>
                <li><a target="_blank" href="{{ 'https://www.facebook.com/Formula1' }}"><img class="footerimg" src="{{ 'assets/images/footer/facebook.png' | theme }}" alt="Facebook"></a></li>
                <li><a target="_blank" href="{{ 'https://twitter.com/f1' }}"><img class="footerimg" src="{{ 'assets/images/footer/twitter.png' | theme }}" alt="Twitter"></a></li>
                <li><a target="_blank" href="{{ 'https://www.instagram.com/f1/' }}"><img class="footerimg" src="{{ 'assets/images/footer/instagram.png' | theme }}" alt="Instagram"></a></li>
            </ul>
        </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2023 F1Fanatics. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>